*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    header{
        align-items: center;
        background-color: #0085ff;
        display: flex;
        margin-bottom: 30px;

        .logo{
            flex: 50%;
            margin: 10px 0px 0px 190px;
            #logoimg{
                width: 100px;
            }
        }
        nav{
            flex: 50%;
            display: flex;
            text-align: center;
 
            div{
                transform: scale(1);
                transition: transform .7s;
                flex: 50%;
                margin-right: 50px;
            }
            
                img{
                    width: 40px;
                    
                }

                p{
                    font-size: 12px;
                }

                div:hover{
                    transform: scale(1.2);
                    transition: transform .5s;
                }

            }


            a{
                margin: 10px;
                text-decoration: none;
                color: white;
                font-size: 20px;
                letter-spacing: 1px;
                padding: 2px;
            }
        }
    }

    main{
        max-width: 1100px;
        margin: auto;
        padding: 30px;
        align-items: center;
        position: relative;

        .principal{
            display: flex;

            .imgPrincip{
                background-image: url(../designer/logo11.png);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                flex: 50%;
                margin: 2px;
                text-align: center;
                img{
                    width: 350px;
                }
            }

            .conteudo_1{
                flex: 50%;
                margin: 2px;

                h1{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 40px;
                }

                h2{
                    text-align: center;
                    margin-bottom: 20px;
                }

                p{
                    text-align: justify;
                    line-height: 29px;
                }
            }
        }

        .secundario{
            max-width: 1100px;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
    
        }

        .conteier{
            position: relative;
            width: 300px;
            height: 450px;
            margin: 20px;
        }

        .conteier:hover .flip {
            transform: rotateY(180deg);
        }
        
        .flip{
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            transform-style: preserve-3d;
            transition: .5s;
        }

        .frente,.tras{
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.116);
            backface-visibility: hidden;
            

            .titulo{
                background-color: #0085ff;
                display: flex;
                align-items: center;
                border-radius: 8px;
                color: white;
                padding: 10px;

                img{
                    width: 50px;
                    margin-left: 15px;
                    margin-right: 5px;
                }
                
                h1{
                    font-size: 20px;
                    letter-spacing: 5px;
                    margin-left: 10px;
                }

            }

            .dizeresFrente,.dizeresTras{
                padding: 30px;
                line-height: 25px;
                text-align: justify;
                font-size: 15px;
            }
        }

        .tras{
            transform: rotateY(180deg);
            .titulo{
                background-color: rgb(52, 248, 52);
            }
            
            li{
                line-height: 35px;
                text-align: start;
            }
        }

        .botao{
            text-align: center;
            margin: 30px;

            a{
                
                text-decoration: none;
                color: white;
            }

            h1{
                background-color: #0085ff;
                display: inline-block;
                padding: 20px;
                border-radius: 10px;
                font-size: 20px;
                letter-spacing: 10px;
                transition: 1s;
                animation: aumentar 2s linear infinite;
            }

            h1:hover{
                background-color: rgb(47, 238, 47);
            }

        }
    }

    @keyframes aumentar {

                from,to{
                    background-color: #0085ff;
                    scale: 100%;
                }
                50%{
                    background-color: rgb(47, 238, 47);
                    scale: 110%;
                }
                
            }

footer{
    background-color: #0085ff;
    display: flex;

    .redesSociais{
        flex: 50%;
    }

    .Contatcos{
        flex: 50%;
    }
}