@media  only screen and (max-width: 600px) {

    body{
        header{

            .logo{
                flex: 100%;
                text-align: center;
                margin: 10px;
            }
            nav{
                position: fixed;
                background-color: #0085ff;
                bottom: 0;
                width: 100%;
                flex: 100%;
                z-index: 2;
                justify-content: center;

                div{
                    margin: 10px;
                    
                }
               
            }

        }

        main{
            z-index: 1;
            
            .principal{
                display: block;

                .imgPrincip{
                
                    img{
                        width: 250px;
                    }
            }

            .conteudo_1{
                margin-top: 10px;
                    h1{
                        font-size: 30px;
                    }

                h2{
                    font-size: 15px;
                }
                p{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            
            .conteier{
                width: 550;
                height: 400px;


            }
            }


        }

    }

        footer{
            display: block;
            height: 750px;

            margin-bottom: 100px;
        
        }

    
    
}