@media  only screen and (max-width: 700px) {

    body{
        header{
            margin-bottom: 0;

            .logo{
                flex: 100%;
                text-align: justify;
                margin-left: 20px;

                #logoimg{
                    width: 80px;
                }

                
            }
            nav{
                position: fixed;
                background-color: #0085ff;
                bottom: 0;
                width: 100%;
                flex: 100%;
                z-index: 2;
                justify-content: center;

                div{
                    margin: 10px;
                    
                }
               
            }


        }

         #broker{
                    display: block;
                }



        main{
            z-index: 1;
            
            .principal{
                display: block;

                .imgPrincip{
                
                    img{
                        width: 250px;
                    }
            }

            .conteudo_1{
                margin-top: 10px;
                    h1{
                        font-size: 30px;
                    }

                h2{
                    font-size: 15px;
                }
                p{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            
            .conteier{
                width: 550;
                height: 400px;


            }
            }


        }

    }

    #menu2{
        
    }

        footer{
            display: block;
            height: 750px;

            margin-bottom: 100px;
        
        }

    
    
}


@media  only screen and (max-width: 900px) {


            main{
            
            .principal{
                display: block;

                .imgPrincip{
                
                    img{
                        width: 250px;
                    }
            }
        }
    }

            footer{
            display: block;
            height: 750px;

            margin-bottom: 100px;
        
        }
}